.add_keys_list{
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}

.all_keys_list{
    list-style-type: none;
    padding: 0;
    margin-top: 16px;
}

.input__field, .input__field:placeholder-shown {
    color: var(--black8);
    border: 1px solid var(--black1);
    background-image: none;
    font-size: 11px;
}

.input__field:disabled:hover{
    border: 1px solid var(--black1);
    background-image: none;
}

textarea{
    font: 400 13.3333px Arial;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: Arial;
}


.add_layer_name{
    width: 186px;
    float: left;
    margin-left: -16px;
}

.add_layer_name_new{
    width: 186px;
    float: right;
    margin-bottom: 6px;
}

.add_inputs{
    width: 380px;
    margin-left: 36px;
}

.entry{
    height: 128px;
    padding-top: 12px;
}

.add_checkbox{
    float: left;
    margin-left: 4px;
}

.separator{
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
}

.tab-bar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    height: 40px;
    border-bottom: 1px solid #E5E5E5;
    z-index: 3;
}

#tab-1
{
    float:left;
}
#tab-2
{
    float:left; 
}
#tab-3
{
    background-color: #FF6B6B;
    float: right;
    padding: 0px 5px;
    height: 20px;
    border-radius: 20px;
    margin-right: 12px;
    margin-top: 8px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    height: 48px;
    border-top: 1px solid #E5E5E5;
    border-radius: 0px 0px 3px 3px;
    z-index: 3;
    margin-bottom: 1px;
}

#add_keys{
    height: 552px;
    overflow: scroll;
}

#all_keys{
    height: 552px;
    overflow: scroll;
}

.lds-ellipsis {
    position: relative;
    justify-self: center;
    margin: 100px auto;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--blue);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.tab-content {
    display: none;
}

.tab-container{
    margin-top: 40px;
}

.tab-button {
    color: #000;
    background-color: #fff;
    font-size: 11px;
    padding-top: 8px
}

.button:hover{
    cursor: pointer;
}

.entry-all{

    padding: 12px 12px;
    min-height: 40px;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 4px;

    h5{
        font-size: 11;
        font-weight: 600;
        float: left;
        width: 140px;
        margin: 0;
    }
    
    h6{
        font-size: 11;
        font-weight: 400;
        float: left;
        margin: 0;
    }

    .icon{
        float: right;
        margin-top: -8px;
        display: none;
    }

    .icon:hover{
        cursor: pointer;
    }

}

.entry-all:hover{
    background-color: #e6f1f8;

    .icon{
        display: block;
    }
}

.float-right{
    margin-left: auto;
    margin-right: 6px;
}